@using LibraryManagementSystem.Models.DBModel
@model Authors

@{
    ViewData["Title"] = "Create Update Author";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 pt-3">
    <div>
        <form id="createUpdateAuthorForm">
            <div class="text-center">
                @if (Model.AuthorID == 0)
                {
                    <h3 class="">Add Author</h3>
                }
                else
                {
                    <h3 class="">Update Author</h3>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row g-3">
                        <input id="authorID" name="authorID" value="@Model.AuthorID" type="hidden" />

                        <div class="col-md-6">
                            <label for="authorName">Author Name <label style="color: red; font-weight: bold;">*</label></label>
                            <input id="authorName" name="authorName" value="@Model.AuthorName" placeholder="Author Name" type="text" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label for="authorBio">Author Bio </label>
                            <textarea id="authorBio" name="authorBio" placeholder="Author Bio" type="text" class="form-control" rows="3">@Model.AuthorBio</textarea>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="text-center pb-3">
        <button type="button" onclick="saveAuthor()" class="btn btn-primary"><i class="fa fa-save" style="font-size:13px;color:white"></i> Save</button>
        <button type="button" onclick="clearForm()" class="btn btn-primary"><i class="fa fa-undo" style="font-size:13px;color:white"></i> Clear</button>
        <button type="button" onclick="backToList()" class="btn btn-primary"><i class="fa fa-backward" style="font-size:13px;color:white"></i> Back</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
       
    });

    function saveAuthor() {
        $("#createUpdateAuthorForm").validate({
            rules: {
                authorName: "required",
            },
            messages: {
                authorName: "Author Name is required !!",
            },
            errorElement: "div"
        });

        if ($("#createUpdateAuthorForm").valid()) {

            var createAuthor = {
                AuthorID: $('#authorID').val(),
                AuthorName: $('#authorName').val(),
                AuthorBio: $('#authorBio').val(),
            };

            var model = JSON.stringify(createAuthor);

            $.ajax({
                type: "POST",
                url: "/Authors/CreateUpdateAuthor",
                data: model,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response.output === "Success") {
                        alert(response.message);
                        window.location.href = "/Authors/Index";
                        return false;
                    }
                    else {
                        alert(response.message);
                        return false;
                    }
                },
                error: function (respose) {
                    alert(response.message);
                    return false;
                },
            });
        }
    }

    function clearForm() {
        $('#authorName').val("");
        $('#authorBio').val("");
        $("#createUpdateAuthorForm").validate().resetForm();
    }

    function backToList() {
        window.location = "/Authors/Index";
    }
</script>

<style type="text/css">
    .error {
        border-color: red !important;
        display: block;
    }

    div.error {
        color: red;
        display: inline;
        float: left;
    }
</style>